<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import Cart from '@/components/Cart.vue';
import { CartModule } from '@/store/';

@Component({
  components: {
    Cart,
  },
})
export default class CartView extends Vue {
  get cart() {
    return CartModule.cart;
  }

  get total() {
    return CartModule.total;
  }
}
</script>

<template lang="pug">
  div
    h1 Shopping cart
    Cart(
      :cart="cart"
      :total="total"
    )
</template>
