<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
// import { CartModule } from '@/store/';

@Component
export default class Header extends Vue {
  // Not testable
  // get count() {
    // return CartModule.count;
    // return this.$store.getters['cart/count'];
  // }

  @Getter('cart/count') count: number;
}
</script>

<template lang="pug">
  nav(:class='$style.nav')
    div(:class="[$style.inner, 'container']")
      div(:class='$style.logo')
        router-link(
          to="/"
          v-if="$route.path !== '/'"
        ) Stickers
        span(v-else) Stickers
      ul(:class='$style.menu')
        li(:class='$style.item')
          router-link(to='/' :class="$style.link") Home
        li(:class='$style.item')
          router-link(to="/cart" :class="$style.link") Shopping cart ({{ count }})
</template>

<style lang="stylus" module>
.nav
  background linear-gradient(to top, #ffffff 0%, #f6f6f6 47%, #ededed 100%)

.inner
  display flex
  justify-content space-between
  align-items center
  padding-top 10px
  padding-bottom 10px

.logo
  font-size 20px
  font-weight 700

.menu
  display flex
  margin 0
  padding 0
  list-style-type none

.item:not(:first-child)
  margin-left 15px
</style>
