<script lang="ts">
import cost from '@/utils/cost';
import { Vue, Component, Prop } from 'vue-property-decorator';
import { ICatalogProduct } from '@/store/catalog/';

@Component
export default class ProductsItem extends Vue {
  @Prop({
    type: Object,
    required: true,
  }) product!: ICatalogProduct;

  cost = cost;
}
</script>

<template lang="pug">
  li(:class="$style.item")
    div(:class="$style.inner")
      img(
        :class="$style.img"
        :src="product.img"
      )
    div(:class="$style.info")
      div(v-text="product.name")
      div(
        :class="$style.price"
        v-text="cost(product.price)"
      )
    div(:class="$style.action")
      button(
        :class="$style.btn"
        @click="$emit('add', product)"
      ) Add to Card
</template>

<style lang="stylus" module>
.item
  margin-bottom 30px

.inner
  display flex
  justify-content center
  align-items center
  height 200px

.img
  max-width 170px

.price
  margin-top 5px

.info
  font-size 25px
  text-align center

.action
  margin-top 15px

.btn
  width 100%
  background #ededed
  transition background 0.15s
  border 1px solid #dcdcdc
  font-size 18px
  padding 10px
  border-radius 8px

.btn:hover
  background #b4df5b
</style>
