<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Mutation } from 'vuex-class';
import { ICatalogProduct } from '@/store/catalog/';
// import { CartModule } from '@/store/';
import ProductsItem from '@/components/ProductsItem.vue';

@Component({
  components: {
    ProductsItem,
  },
})
export default class Products extends Vue {
  @Prop({
    type: Array,
    default: () => [],
  }) products!: ICatalogProduct[];

  // Not testable
  // add(product: ICatalogProduct) { /* eslint-disable-line class-methods-use-this */
  //   CartModule.increment(product);
  // }

  @Mutation('increment', { namespace: 'cart' }) add: () => void;
}
</script>

<template lang="pug">
  ul(:class="$style.list")
    ProductsItem(
      v-for="product in products"
      :key="product.id"
      :product="product"
      :class="$style.item"
      @add="add"
    )
</template>

<style lang="stylus" module>
.list
  margin 0
  padding 0
  list-style-type none

@media (min-width: 786px)
  .list
    display flex
    flex-wrap wrap
    margin 0 -10px

  .item
    width 33.333%
    padding 0 10px
</style>
