<script lang="ts">
import Vue from 'vue';
import Header from '@/components/Header.vue';

export default Vue.extend({
  components: {
    Header,
  },
});
</script>

<template lang="pug">
  div(:class="$style.wrap")
    Header
    div(:class="['container', $style.content]")
      router-view
</template>

<style lang="stylus" module>
.content
  position relative
  min-height 320px
  padding-top 16px
  padding-bottom 16px
</style>
